h1 {
    color: red;
}
.section_item {
    background-color: #80cbc4;
    border: 1px solid #fff;
    font-size: 30px;
    text-align: center;
    padding: 1rem;
  }
  
  button{
      width: 10rem;
      height: 3rem;
      padding-left: 1rem;
  }

canvas {
    margin: 0;
    padding: 0;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
body {
    margin: 0;
    padding: 0;
}