h1 {
    color: red;
}
.section_item {
    background-color: #80cbc4;
    border: 1px solid #fff;
    font-size: 30px;
    text-align: center;
    padding: 1rem;
  }
  
  button{
      width: 10rem;
      height: 3rem;
      padding-left: 1rem;
  }

canvas {
    margin: 0;
    padding: 0;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
body {
    background-image: url("milky-way.jpg");
    margin: 0;
    padding: 0;
}


div.class1 {
    position:absolute;
    width: 400px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.class1 p {
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 0.5px;
    text-align: center;
    color: white;
}

div.class2 {
    visibility: hidden;
    position:absolute;
    width: 400px;
    height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.class2 p {
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 0.5px;
    text-align: center;
    color: white;
}

@media (max-width: 400px) {
    div.class1 {
        position:absolute;
        width: 250px;
        height: 250px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -125px;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.class1 p {
        border-style: solid;
        border-radius: 5px;
        border-color: white;
        border-width: 0.5px;
        text-align: center;
        color: white;
    }
    
    div.class2 {
        visibility: hidden;
        position:absolute;
        width: 250px;
        height: 250px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -125px 0 0 -125px;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.class2 p {
        border-style: solid;
        border-radius: 5px;
        border-color: white;
        border-width: 0.5px;
        text-align: center;
        color: white;
    }
}
